@model WebApplication1.ViewModels.EditProfileModel


@{
    Layout = "_Layout";
}

    <div class="page-inner">
        <!-- .page-title-bar -->
        <header class="page-title-bar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="user-profile.html"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                    </li>
                </ol>
            </nav>
        </header><!-- /.page-title-bar -->
        <!-- .page-section -->
        <div class="page-section">
            <!-- grid row -->
            <div class="row">
                <!-- grid column -->
                <div class="col-lg-4">
                    <!-- .card -->
                    <div class="card card-fluid">
                        <h6 class="card-header"> Your Details </h6><!-- .nav -->
                        <nav class="nav nav-tabs flex-column border-0">
                            <a href="user-profile-settings.html" class="nav-link active">Profile</a> 
                        </nav><!-- /.nav -->
                    </div><!-- /.card -->
                </div><!-- /grid column -->
                <!-- grid column -->
                <div class="col-lg-8">
                    <!-- .card -->
                    <div class="card card-fluid">
                        <h6 class="card-header"> Public Profile </h6><!-- .card-body -->
                        <div class="card-body">
                            <!-- .media -->
                            <div class="media mb-3">
                                <!-- avatar -->
                                <div class="user-avatar user-avatar-xl fileinput-button">
                                    <div class="fileinput-button-label"> Change photo </div><img src="assets/images/avatars/profile.jpg" alt=""> <input id="fileupload-avatar" type="file" name="avatar">
                                </div><!-- /avatar -->
                                <!-- .media-body -->
                                <div class="media-body pl-3">
                                    <h3 class="card-title"> Public avatar </h3>
                                    <h6 class="card-subtitle text-muted"> Click the current avatar to change your photo. </h6>
                                    <p class="card-text">
                                        <small>JPG, GIF or PNG 400x400, &lt; 2 MB.</small>
                                    </p><!-- The avatar upload progress bar -->
                                    <div id="progress-avatar" class="progress progress-xs fade">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><!-- /avatar upload progress bar -->
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->
                            <!-- form -->
                            <form method="post" asp-action="Save" asp-controller="Account" asp-antiforgery="true">
                                <!-- form row -->
                                <div class="form-row">
                                    <!-- form column -->
                                    <label for="input01" class="col-md-3">Cover image</label> <!-- /form column -->
                                    <!-- form column -->
                                    <div class="col-md-9 mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="input01" multiple=""> <label class="custom-file-label" for="input01">Choose cover</label>
                                        </div><small class="text-muted">Upload a new cover image, JPG 1200x300</small>
                                    </div><!-- /form column -->
                                </div><!-- /form row -->
                                <!-- form row -->

                                <div class="validation" asp-validation-summary="ModelOnly" />
                                <!-- form row -->
                                <div class="form-row">
                                    <input asp-for="UserId" type="text" class="form-control" id="input02" value="@ViewData["Идентификатор"]" hidden>
                                </div><!-- /form row -->

                                <!-- form row -->
                                <div class="form-row">
                                    <!-- form column -->
                                    <label asp-for="Name" for="input02" class="col-md-3">Name</label> <!-- /form column -->
                                    <!-- form column -->
                                    <div class="col-md-9 mb-3">
                                        <input asp-for="Name" type="text" class="form-control" id="input02" value="@ViewData["Имя пользователя"]">
                                        <span asp-validation-for="Name" />
                                    </div><!-- /form column -->
                                </div><!-- /form row -->
                                <!-- form row -->
                                <div class="form-row">
                                    <!-- form column -->
                                    <label asp-for="Age" for="input03" class="col-md-3">Age</label> <!-- /form column -->
                                    <!-- form column -->
                                    <div class="col-md-9 mb-3">
                                        <input asp-for="Age" type="text" class="form-control" id="input02" value="@ViewData["Возраст пользователя"]">
                                        <span asp-validation-for="Name" />
                                    </div><!-- /form column -->
                                </div><!-- /form row -->
                                <!-- .form-actions -->
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary ml-auto">Update Profile</button>
                                </div><!-- /.form-actions -->
                            </form><!-- /form -->
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                    <!-- .card -->
                </div><!-- /grid column -->
            </div><!-- /grid row -->
        </div><!-- /.page-section -->
    </div>