@model IEnumerable<Ticket>

@{
    Layout = "AdminPageLayout";


}

    <div class="align-content-center mt-5 mb-2">
        <h3 class="mb-2">Это страница администратора</h3>
        <h4 class="mt-5 mb-3">
            Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.
        </h4>
        <h4 class="mt-5 mb-3">
            Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия.
        </h4>
        <h3 class="mt-5 text-center">
            Содержимое было сгенерировано случайным образом
        </h3>

    </div>