@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Появились вопросы при работе или возникла ошибка?</h1>
        <p class="lead">При помощи данного ресурса вы можете получить помощь от наших специалистов тех. поддержки</p>
        <p class="lead">
            <a asp-action="Add" asp-controller="Ticket"  class="btn btn-lg btn-secondary">Отправить заявку</a>
        </p>
    </main>
</div>
